---
import Layout from "../../layouts/Layout.astro";

import { db, User, Rol } from "astro:db";

const usuarios = await db.select().from(User);
const rol = await db.select().from(Rol);
---

<Layout title="Admin">
    <h1>Usuarios:</h1>
  {
    usuarios.length > 0 ? (
      <ul>
        {usuarios.map((usuario) => (
          <li>
            <p>Nombre: {usuario.name}</p>
            <p>Creado: {usuario.created}</p>
            <p>Rol ID: {usuario.rol_id}</p>
          </li>
        ))}
      </ul>
    ) : (
      <p>Oh, oh. <br>Aun no se ha registrado nadie!</p>
    )
  }

  <h1>Roles:</h1>
  <ul>
    {
      rol.map((rol) => (
        <>
          <li>{rol.rolName}</li>
          <li>{rol.rolId}</li>
        </>
      ))
    }
  </ul></Layout
>
