---
import Layout from "../../layouts/Layout.astro"

import { db, User, Rol } from "astro:db";

const usuarios = await db.select().from(User)
const rol = await db.select().from(Rol)
---

<Layout title="Admin">
    <h1>Usuarios:</h1>
    <ul>
        {
            usuarios.map((usuarios)=> <li>{usuarios.name}</li><li>{usuarios.created}</li><li>{usuarios.rol_id}</li>)
        }
    </ul>

    <h1>Roles:</h1>
    <ul>
        {
            rol.map((rol)=> <li>{rol.rolName}</li><li>{rol.rolId}</li>)
        }

</Layout>